/* Defaults */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-top: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Common branding */

html {
    background-color: #d3dbde;
}

body {
    background-color: #fff;
    color: #7f878f;
    font-family: Raleway;
}

header {
    background-color: #f56a6a;
    border-bottom: 10px solid #d3dbde;
}

h1 a {
    color: #fff;
}

nav a {
    color: #fff;
    font-weight: bold;
}

.profile {
    border-radius: 50%;
    border: 5px solid #f56a6a;
}

footer {
    background-color: #3d4348;
    color: #fff;
}

/* Desktop layout */
@media ( min-width: 1200px ) {
    body {
        margin: 0;
        line-height: 1.8;
        width: 1200px;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    header {
        line-height: 60px;
        display: grid;
        grid-template-columns: auto auto;
    }

    h1 {
        font-size: 24px;
        margin: 0;
        margin-left: 30px;
    }

    nav {
        line-height: 60px;
        font-size: 14px;
        text-align: right;
        margin-right: 30px;
    }

    nav a {
        margin-left: 30px;
    }

    section {
        display: grid;
        grid-template-columns: auto 340px;
        padding: 30px;
        grid-gap: 60px;
    }

    article {
        padding-bottom: 30px;
    }

    h2 {
        font-size: 36px;
    }

    img {
        width: 680px;
    }

    aside {
        font-size: 14px;
        padding-bottom: 60px;
    }

    aside h2 {
        font-size: 20px;
    }

    .profile {
        width: 120px;
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
    }

    footer {
        padding: 30px;
        text-align: center;
    }

    footer p {
        margin: 0;
    }
}


/* Mobile layout */

@media ( max-width: 500px ) {
    /*article {*/
        /*background-color: #ff0;*/
    /*}*/

    /*aside {*/
        /*background-color: #0ff;*/
    /*}*/

    img {
        max-width: 100%;
        /*images cannot be larger than 100% of the containing parent element.*/
        /*However, images that are smaller than the parent are untouched*/
        height: auto;
    }
    .profile {
        width:50%;
        display: block;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        float: left;
        margin-right: 15px;
        margin-bottom: 5px;
        shape-outside: circle(50%);
    }

    .video {
        background-color: #d3dbde;
        width: 100%;
        height: 0;
        padding-top: 56.25%;
        position: relative;
    }

    .video iframe {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    .desktop {
        display: none;
    }

    h1 {
        margin-bottom: 0px;
    }

    header, section, footer {
        padding: 15px;
    }
}

@media ( max-width: 768px) and (min-width: 501px) {
    /*article {*/
    /*background-color: #ff0;*/
    /*}*/

    /*aside {*/
    /*background-color: #0ff;*/
    /*}*/

    body {
        margin: 0;
        line-height: 1.8;
        width: 1200px;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    header {
        line-height: 60px;
        display: grid;
        grid-template-columns: auto auto;
    }

    h1 {
        font-size: 24px;
        margin: 0;
        margin-left: 30px;
    }

    nav {
        line-height: 60px;
        font-size: 14px;
        text-align: right;
        margin-right: 30px;
    }

    nav a {
        margin-left: 30px;
    }

    section {
        display: grid;
        grid-template-columns: auto 340px;
        padding: 30px;
        grid-gap: 60px;
    }

    article {
        padding-bottom: 30px;
        max-width: 100%;
    }

    h2 {
        font-size: 36px;
    }

    img {
        width: 680px;
    }

    aside {
        font-size: 14px;
        padding-bottom: 60px;
        max-width: 100%;
    }

    aside h2 {
        font-size: 20px;
    }

    .profile {
        width: 120px;
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
    }

    footer {
        padding: 30px;
        text-align: center;
    }

    footer p {
        margin: 0;
    }

}

